header {
  display: block;
  background: linear-gradient(69deg, rgba(127,127,127,1) 0%, white, rgba(127,127,127,1) 100%);
  width: 100%;
  font-size: 5vh;
  padding-top: 2vh;
  margin: auto;
}

nav {
  float: right;
  display: inline-block;
}

.subheader {
  font-size: xxx-large;
}

.login {
  font-size: x-large;
  text-align:right;
  display: inline-block;
}

.dashboard {
  font-size: x-large;
  text-align:right;
  display: inline-block;
}

.button_large {
  font-size: large;
}

.search_pane {
  background-color: whitesmoke;
  text-align: left;
  width: fit-content;
  padding:2vw;
  padding-top: 1vw;
}
.search_filter {
  text-align: right;
  padding-left: 2vw;
  font-size: x-large;
}

.search_results {
  background-color: whitesmoke;
  text-align: left;
  padding:2vw;
  padding-top: 1vw;
}

.search_results_output {
  text-align: left;
  padding: 1vw;
  font-size: x-large;
}

.search_filter_input {
  text-align: left;
  font-size: x-large;
}

.edit_acc_pane {
  background-color: whitesmoke;
  text-align: left;
  width: fit-content;
  padding:2vw;
  padding-top: 1vw;
}

.edit_acc_label{
  text-align: right;
  padding-left: 2vw;
  font-size: x-large;
}

.horizontal_line {
  padding-bottom: 10px;
}

.header_lock {
  position: relative;
  float: left;
}

.header_background {
  float: left;
  display: inline;
  width: 100%;
}

.header_table {
  min-width:90%;
}

.header_table_cell {
  min-width: 33%;
}

.lock{
  max-width: 1vh;
  text-align: left;
  padding-left: 2vw;
}

.title {
  min-width: 33%;
  max-width: 33%;
  text-align: center;
  margin-left: -4vw;
}

#wrapper {
  max-width: 150vh;
  margin: auto;
}