header {
  display: block;
  background: linear-gradient(69deg, rgba(127,127,127,1) 0%, white, rgba(127,127,127,1) 100%);
  width: 100%;
  font-size: 5vh;
  padding-top: 2vh;
  margin: auto;
}

nav {
  float: right;
  display: inline-block;
}


.login {
  width: 70%;
  float: right;
  display: block;
}

.horizontal_line {
  padding-bottom: 10px;
}

.header_lock {
  position: relative;
  float: left;
}

.header_background {
  float: left;
  display: inline;
  width: 100%;
}

.headertable {
  min-width:90%;
}

.headertablecell {
  min-width: 33%;
}

.lock{
  max-width: 1vh;
  text-align: left;
  padding-left: 2vw;
}

.title {
  min-width: 33%;
  max-width: 33%;
  text-align: center;
  margin-left: -4vw;
}

#wrapper {
  max-width: 150vh;
  margin: auto;
}